<div class="twitt-twitts col-md-12 p-4">
  <%= render 'form', opinion: @opinion %>
</div>

  <%#<%= render partial: "opinion", collection: @opinions  %> 
  <%= render partial: 'opinion', collection: @opinions %>
