<div class="col-md-4">
  <div class="col-md-12 d-flex align-items-center justify-content-around pt-2">
  <div class="rounded-circle profile-icon d-flex align-items-center justify-content-center "><i class="fa fa-plus text-muted"></i></div>
    <%= image_tag user_profile_photo(@user), class:"rounded-circle img-fluid user-show-profile border " %>
    <div class="rounded-circle profile-icon d-flex align-items-center justify-content-center "><i class="fa fa-list text-muted"></i></div>
  </div>