<div class="col-md-4 p-3">
    <div class="right-side col-md-12">
        <h3 class=" who text-center">who to follow</h3>
        <div class="who-to d-flex justify-content-around align-center">
          <img src="mathilde-langevin-j5KAuRrYX7g-unsplash.jpg" class="img-round" alt="...">
          <div class="who-to-info">
            <p><strong>Mathias De Lit</strong></p>
            <div class="btn btn-outline-info">follow</div>
          </div>
        </div>
    </div>
</div>