/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 .navbar {
  background-color: #50A4E2;
 }

 .parent {
  background-color: #F5F6F8;
  }
  
  .current {
  background-color: #213246;
  text-transform: uppercase;
  height: 100vh;
  }
  
  .current-name {
  color: #5D7486;
  }
  
  .current-profile, .current-stats {
    color: #D0DDE6;
    display: flex;
  }
  
  .current-profile {
  justify-content: space-evenly;
  }
  
  .current-stats {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  }
  
  .current-followers, .current-following {
  height: 100%;
  width: 50%;
  }
  
  .current-followers {
  border-right: 1px solid black;
  }
  .current-followers, .current-following {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .navigation-top {
    background-color: #51A5E5;
  }
  .middle {
  border-right: 1px solid #ccc;
  padding: 0;
  }
  .navigation-top, .current-profile {
  height: 70px;
  }
  
  .current-stats, .who {
  height: 52px;
  }
  
  .links {
  height: 15%;
  }
  .form {
  border-radius: 5px;
  }
  .links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-top: 10px;
  }
  
  .nav-left {
  padding-left: 0;
  }
  
  li {
  list-style: none;
  }
  
  .nav-left-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #ccc;
  }
  
  .nav-left li:hover{
  background-color: #4D9CD7;
  cursor: pointer;
  }

  .nav-left li .nav-left-link {
  color:#F5F6F8;
  }
  
  .user-links{
  border: 1px solid #ccc;
  }
  
  .who {
  border-bottom: 1px solid #ccc;
  }
  
  .img-round {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  }
  
  .img-thumbnail {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  }

  .tweet-usr-img {
  height: 2rem;
  width: 2rem;
  }